.container{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 1rem;
  min-height: 60px;
  background-color: var(--color-card);
  border-radius: 10px;
  cursor: pointer;

  h4{
    font-weight: 400;
    font-size: 14px;
    color: var(--color-font);
  }

  @media screen and (max-width: 450px) {
    min-height: 50px;
    gap: 10px;
  }
}