.container {
}

/* Circle.css */
.circle {
  position: relative;
  width: 350px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  // border: 2px solid var(--color-font);
  border-radius: 50%;
  display: flex;
  justify-content: center;

  .quadrant {
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: grid;
    border: 2px solid var(--color-font);

    &:hover {
      background-color: var(--color-lilac);
    }
  }

  .note {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-font);

    transition: all 1s;
  }
}
