.container{
  display: flex;
  gap: 50px;

  .carousel{
    flex: 0.4;
  }

  .information{
    flex: 0.6;
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    .bio{
      display: flex;
      flex-direction: column;
      gap: 10px;

      p{
        font-size: 14px;
      }
    }

    .metrics{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;

      .item{
        display: flex;
        justify-content: space-between;

        p{
          text-transform: uppercase;
          color: var(--color-font);
          font-weight: 700;
        }

        h3{
          font-size: 14px;
        }
      }
    }

    .socials{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      // gap: 52px;

      .social{
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 10px;
        border: 2px solid rgba(255, 255, 255, 0);
        padding: 10px 0px;
        border-radius: 20rem;
        width: 100%;

        transition: all 1s;

        svg{
          height: 20px;
          width: 20px;
        }

        p{
          font-size: 14px;
        }

        &:active{
          border: 2px solid white;

        }

      }
    }
  }


  @media screen and (max-width: 450px) {
    gap: unset;
    // width: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    gap: 10px;

    .carousel{  
      // display: none;
      flex: 0.3;
    }

    .information{
      gap: 10px;
      .bio{
        p{
          font-size: 12px;
          text-align: justify;
        }
      }

      .metrics{
        grid-template-columns: 1fr ;
        gap: 10px;

        .item{
          justify-content: space-between;
          text-align: right;
          p{
            font-size: 12px;
          }

          h3{
            font-size: 12px;
          }
        }
      }

      .socials{
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
       
        gap: unset;
        width: 100%;
        // text-align: end;

        .social{
          flex-direction: row-reverse;
        }
      }
    }
  }
}